h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}
select {
  border-color: rgb(101, 101, 220);
  border-radius: 3px solid;
  width: 150px;
  height: 20px;
  margin-left: 400px;
  margin-top: 30px;
  padding: 15px;
}
.btn {
  background-color: rgb(201, 146, 233);
  color: rgb(7, 60, 106);
  width: 100px;
  border-style: round;
  margin: 15px;
  padding: 15px;
}
.cards{
  justify-content: center;
  align-items: center;
  display:flex;
  margin-right:800px;

  
}
.java{
  padding-left: 50px;
  padding-top: 50px;
  margin-left: 20px;
  font-size:x-large;
  justify-content: center;
  align-items: center;
   width: 150px;
   height: 150px;
   background-color: aquamarine;
   border: 1px solid rgb(24, 14, 14);
   border-radius: 10px;
}
.java:hover{
  box-shadow: 10px 10px 10px 2px gray;}
.C{
  padding-left: 50px;
  padding-top: 50px;
  margin-left: 20px;
  font-size:x-large;
  justify-content: center;
  align-items: center;
   width: 150px;
   height: 150px;
   background-color: aquamarine;
   border: 1px solid black;
   border-radius: 10px;
   float: left;
}
.C:hover{
  box-shadow: 10px 10px 10px 2px gray;
}

