<h1>Choose Your Cource</h1>
<div class="ChooseYourCource">
  <ul class="sel">
    <select name="choosecourse" id="crc">
      <option value="C">C</option>
      <option value="c++">C++</option>
      <option value="Advancejava">Advance Java</option>
      <option value="aws">AWS</option>
      <option value="redhat">Red Hat</option>
      <option value="Angular">Angular</option>
      <option value="Datascience">Data Science</option>
      <option value="cloud">Cloud Engineer</option>
      <option value="Sol">Solution Architect</option>
    </select>
    <button class="btn">SELECT</button>
  </ul>
</div>
