h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}
select {
  border-color: blue;
  border-radius: 3px solid;
  width: 150px;
  height: 20px;
  margin-left: 400px;
  margin-top: 30px;
  padding: 15px;
}
.btn {
  background-color: rgb(171, 61, 235);
  color: aliceblue;
  width: 100px;
  border-style: round;
  margin: 15px;
  padding: 15px;
}
