<h1>study-material</h1>

<div class="Field-display-area">
  <h3>All Users</h3>
  <table id="users">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Mobile Number</th>
      <th>Collage Name</th>
      <th>Year</th>
      <th>Branch</th>
      <th>Gender</th>
    </tr>
    <tr *ngFor="let user of allUsers; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ user.fn }}</td>
      <td>{{ user.ls }}</td>
      <td>{{ user.e }}</td>
      <td>{{ user.m }}</td>
      <td>{{ user.cl }}</td>
      <td>{{ user.y }}</td>
      <td>{{ user.b }}</td>
    </tr>
  </table>
</div>
