.heading {
  text-align: center;
  margin-top: 2%;
}
.form {
  justify-content: center;
  margin-left: 15%;
  margin-top: 3%;
  line-height: 25px;
}
.button1 {
  padding: 5px;
  margin: 5px;
}
.button2 {
  padding: 5px;
  margin: 5px;
}


form{
  width: 500px;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}