.toolbar   {
  height: 75px;
  background-color:cornflowerblue ;
}
.sidenav-content {
  height: 88vh;
}
.heading{
      margin-left:45% ;
      color:rgb(238, 223, 64);     
}
.loader-container{
  position: fixed;
  width: 100%;
  z-index: 99;
}




