<div class="home">
  <h1>Online Learning Course</h1  >
  <p>
    “Students do not learn much just sitting in classes listening to
    teachers,<br />
    memorizing prepackaged assignments,<br />
    and spitting out answers. They must talk about what they are learning ,<br />write
    reflectively about it, relate it to past experiences,<br />
    and apply it to their daily lives. They must make what they learn part of
    themselves.”
  </p>
  <img src="https://img.freepik.com/free-vector/colourful-illustration-programmer-working_23-2148281410.jpg?size=626&ext=jpg&ga=GA1.2.106558362.1678263698&semt=ais">
</div>

